.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
}

.confirmed {
  border-bottom: 7px solid lightseagreen !important;
}

.recovered {
  border-bottom: 7px solid green !important;
}

.deaths {
  border-bottom: 7px solid red !important;
}

.card-title > h5 {
  color: grey !important;
}

.card-text {
  font-size: 20px !important;
}
